<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Location options</string>
		<key>key</key>
		<string>v</string>
		<key>values</key>
		<array>
			<dict>
				<key>name</key>
				<string>Visa sponsor</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Others Compensation</string>
		<key>key</key>
		<string>e</string>
		<key>values</key>
		<array>
			<dict>
				<key>name</key>
				<string>Offers equity</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Minimum annual salary</string>
		<key>key</key>
		<string>s</string>
		<key>values</key>
		<array>
			<dict>
				<key>name</key>
				<string>Salary</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Tech you dislike (Add up to 10 tech tags)</string>
		<key>key</key>
		<string>dl</string>
		<key>values</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Tech you like (Add up to 10 tech tags)</string>
		<key>key</key>
		<string>tl</string>
		<key>values</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Remote</string>
		<key>key</key>
		<string>r</string>
		<key>values</key>
		<array>
			<dict>
				<key>name</key>
				<string>Remote</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Units</string>
		<key>key</key>
		<string>u</string>
		<key>values</key>
		<array>
			<dict>
				<key>name</key>
				<string>km</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Distance</string>
		<key>key</key>
		<string>d</string>
		<key>values</key>
		<array>
			<dict>
				<key>name</key>
				<string>5</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>10</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>20</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>50</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>100</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Location</string>
		<key>key</key>
		<string>l</string>
		<key>values</key>
		<array>
			<dict>
				<key>name</key>
				<string>Location</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Experience Level</string>
		<key>key</key>
		<string>ms</string>
		<key>values</key>
		<array>
			<dict>
				<key>name</key>
				<string>Stydent</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Junior</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>MidLevel</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Senior</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Lead</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Manager</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Role</string>
		<key>key</key>
		<string>dr</string>
		<key>values</key>
		<array>
			<dict>
				<key>name</key>
				<string>DesktopDeveloper</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>QATestDeveloper</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>SystemAdministrator</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>BackendDeveloper</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>DataScientist</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>DataBaseAdministrator</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Designer</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>EmbeddedDeveloper</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>DevOps</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>FrontEndDeveloper</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>FullStackDeveloper</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>GameDeveloper</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>MobileDeveloper</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>ProductManager</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Job type</string>
		<key>key</key>
		<string>j</string>
		<key>values</key>
		<array>
			<dict>
				<key>name</key>
				<string>Permanent</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Contract</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Internship</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Benefits</string>
		<key>key</key>
		<string>b</string>
		<key>values</key>
		<array>
			<dict>
				<key>name</key>
				<string>Education</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>GenerousVacation</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>GreatEngineeringCulture</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>GymAndFitness</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Salary in</string>
		<key>key</key>
		<string>c</string>
		<key>values</key>
		<array>
			<dict>
				<key>name</key>
				<string>GBP</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>EUR</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>USD</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>CAD</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>AUD</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>INR</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>SEK</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>PLN</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>CHF</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>DKK</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>NZD</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>RUB</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Location options</string>
		<key>key</key>
		<string>t</string>
		<key>values</key>
		<array>
			<dict>
				<key>name</key>
				<string>Offers relocation</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
